<!DOCTYPE html>
<html>
<head>
    <title>NHM Collection preview</title>
    <meta charset="utf-8" />
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="leaflet.draw.js"></script>
    <script src="terraformer.min.js"></script>
    <script src="terraformer-wkt-parser.min.js"></script>

    <script>
        $(document).ready(function(){
            var map = new L.Map('map', { minZoom: 2 });
            map.setView(new L.LatLng(51.505, -0.09), 4, true);
            L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', { opacity: 0.8 }).addTo(map);
            var baseURL = "http://localhost:4000/database/<%= dbname %>/table/<%= table %>/{z}/{x}/{y}";

            var drawControl = new L.Control.Draw({
              draw: {
                polyline: false,
                marker: false,
                circle: false
              }
            });
            map.addControl(drawControl);

            var layers = [];
            var drawLayer = null;

            var tilejson = {
                tilejson: '1.0.0',
                scheme: 'xyz',
                tiles: [],
                grids: [],
                formatter: function(options, data) { return data._id + "/" + data.species + "/" + data.scientific_name }
            };

            map.on('draw:created', function (e) {
              var type = e.layerType;
              var layer = e.layer;
              if (drawLayer) {
                map.removeLayer(drawLayer);
              }
              map.addLayer(layer);
              drawLayer = layer;
            });

            $('#update_map').click(function(ev){
                ev.preventDefault();

                var dbname = $('#dbname').val();
                var table = $('#table').val();
                var sub_collection = $('#sub_collection').val();
                var style = $('#style_toggle').is(':checked');

                var url = _.template(baseURL, {dbname: dbname, table: table});

                var tiles_url = url + '.png';
                var grids_url = url + '.grid.json?callback={cb}';

                var tile_params = {};
                var grid_params = {};

                if (sub_collection) {
                  tile_params["sql"] = "select * from botany_all where collection_sub_department = '"+sub_collection+"'";
                } else {
                  tile_params["sql"] = "select * from botany_all where 1 = 1"; // so that we can do "AND ... " later
                }

                if (drawLayer) {
                  var geojson = drawLayer.toGeoJSON();
                  var wkt = Terraformer.WKT.convert(geojson.geometry);
                  tile_params["sql"] += " AND st_intersects(the_geom_webmercator, st_transform(st_setsrid(st_geomfromtext('" + wkt + "'), 4326),3857)) ";
                }

                if ($.isEmptyObject(tile_params)) {
                  tilejson.tiles = [tiles_url];
                } else {
                  tilejson.tiles = [tiles_url + "?" + $.param(tile_params)];
                }

                _.each(layers, function(layer){
                    map.removeLayer(layer)
                });

                layers = [];

                var testMap = L.tileLayer(tilejson.tiles[0]).addTo(map);

                layers.push(testMap);
            });
        });
    </script>

    <link rel="stylesheet" href="leaflet.css" />
    <link rel="stylesheet" href="leaflet.draw.css" />
    <link rel="stylesheet" href="maps.css" />
</head>
<body>
<input type="text" value="nhm_botany" id="dbname">
<input type="text" value="botany_all" id="table">
<select id="sub_collection">
  <option value="">All</option>
  <option value="Bryophytes">Bryophytes</option>
  <option value="Algae">Algae</option>
  <option value="Ferns">Ferns</option>
</select>
<input type="button" id="update_map" value="Go">
<div id="map" style="width: 1500px; height: 900px"></div>
</body>
</html>
