<!DOCTYPE html>
<html>
<head>
    <title>Windshaft test</title>
    <meta charset="utf-8" />
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="leaflet.js"></script>
    <script src="leaflet.utfgrid.js"></script>

    <script>
        $(document).ready(function(){
            var map = new L.Map('map');
            var baseURL = "http://localhost:4000/database/<%= dbname %>/table/<%= table %>/{z}/{x}/{y}";

            var layers = [];
            var controls = [];
            var tilejson = {
                tilejson: '1.0.0',
                scheme: 'xyz',
                tiles: [],
                grids: [],
                formatter: function(options, data) { return data._id + "/" + data.species + "/" + data.scientific_name }
            };

            var info = L.control();
            info.options.position = 'bottomright';
            info.onAdd = function (map) {
              this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
              this.update();
              return this._div;
            };

            info.update = function (props) {
              this._div.innerHTML = "<h4>Botany Records</h4>" + (props ?
              "<b>" + props.data.species + "</b><br />" + props.data._id+"<br />"+ props.data.scientific_name
              : 'Hover over a marker');
            };

            $('#update_map').click(function(ev){
                ev.preventDefault();

                var dbname = $('#dbname').val();
                var table = $('#table').val();
                var sub_collection = $('#sub_collection').val();

                var url = _.template(baseURL, {dbname: dbname, table: table});

                var sql = "";
                if (sub_collection) {
                  sql = "select * from botany_all where collection_sub_department = '"+sub_collection+"'";
                  tilejson.tiles = [url + '.png?sql=' + sql];
                  tilejson.grids = [url + '.grid.json?callback={cb}&sql=' + sql];
                } else {
                  tilejson.tiles = [url + '.png'];
                  tilejson.grids = [url + '.grid.json?callback={cb}'];
                }

                _.each(layers, function(layer){
                    map.removeLayer(layer)
                });

                _.each(controls, function(control) {
                  map.removeControl(control)
                });

                layers = [];
                controls = [];

                var testMap = L.tileLayer(tilejson.tiles[0]).addTo(map);
                map.setView(new L.LatLng(51.505, -0.09), 4, true);
                var utfGrid = new L.UtfGrid(tilejson.grids[0], {
                  resolution: 4
                });
                utfGrid.on('mouseover', function(e){ info.update(e);}).on('mouseout', function(e){ info.update();})
                map.addLayer(utfGrid);
                map.addControl(info);

                controls.push(info);
                layers.push(utfGrid);
                layers.push(testMap);
            });
        });
    </script>

    <link rel="stylesheet" href="leaflet.css" />
    <link rel="stylesheet" href="maps.css" />
</head>
<body>
<input type="text" value="nhm_botany" id="dbname">
<input type="text" value="botany_all" id="table">
<select id="sub_collection">
  <option />
  <option value="Bryophytes">Bryophytes</option>
  <option value="Algae">Algae</option>
  <option value="Ferns">Ferns</option>
</select>
<input type="button" id="update_map" value="Go">
<div id="map" style="width: 1500px; height: 900px"></div>
</body>
</html>
